In [1]:
from sklearn.cluster import KMeans

In [22]:
import seaborn as sb
import pandas as pd

In [3]:
df = sb.load_dataset('diamonds')

In [4]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
df.corr()

          carat     depth     table     price         x         y         z
carat  1.000000  0.028224  0.181618  0.921591  0.975094  0.951722  0.953387
depth  0.028224  1.000000 -0.295779 -0.010647 -0.025289 -0.029341  0.094924
table  0.181618 -0.295779  1.000000  0.127134  0.195344  0.183760  0.150929
price  0.921591 -0.010647  0.127134  1.000000  0.884435  0.865421  0.861249
x      0.975094 -0.025289  0.195344  0.884435  1.000000  0.974701  0.970772
y      0.951722 -0.029341  0.183760  0.865421  0.974701  1.000000  0.952006
z      0.953387  0.094924  0.150929  0.861249  0.970772  0.952006  1.000000

In [6]:
df2 = df[['x','y','z']].copy()

In [7]:
kmeans = KMeans(n_clusters=3)

In [8]:
kmeans.fit(df2)

KMeans(n_clusters=3)

In [9]:
df2['res'] = kmeans.labels_

In [10]:
df2.head()

      x     y     z  res
0  3.95  3.98  2.43    1
1  3.89  3.84  2.31    1
2  4.05  4.07  2.31    1
3  4.20  4.23  2.63    1
4  4.34  4.35  2.75    1

In [11]:
df2.res.value_counts()

1    24582
2    21272
0     8086
Name: res, dtype: int64

In [34]:
import sklearn.neighbors as snb
import sklearn.linear_model as slin

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X = df2.drop('res',axis=1)
y = df2.res

In [37]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [40]:
model = snb.KNeighborsClassifier(n_neighbors=3)
model = slin.LogisticRegression(max_iter=1000)

In [41]:
model.fit(X_train,y_train)

LogisticRegression(max_iter=1000)

In [42]:
model.score(X_test,y_test)

0.9979214650862311

In [43]:
from sklearn.metrics import confusion_matrix

In [44]:
confusion_matrix(y_test, model.predict(X_test))

array([[2601,    0,   17],
       [   0, 8113,    0],
       [   0,   20, 7050]])

In [23]:
df = pd.get_dummies(df)

In [27]:
df.head()

,carat,depth,table,price,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,...,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,xyz
0,0.23,61.5,55.0,326,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,0.21,59.8,61.0,326,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
2,0.23,56.9,65.0,327,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,0.29,62.4,58.0,334,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
4,0.31,63.3,58.0,335,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1

In [25]:
df.drop(['x','y','z'],axis=1,inplace=True)

In [26]:
df['xyz'] = df2.res

In [28]:
import sklearn.ensemble as se

In [29]:
model = se.RandomForestRegressor()

In [30]:
X = df.drop('price',axis=1)
y = df.price

In [31]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.33, random_state=42)

In [32]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [33]:
model.score(X_test,y_test)

0.9805810784690208