In [5]:
def add(a,b):
    return a+b*10

In [6]:
add(10,20)

210

In [7]:
add(a=30,b=20)

230

In [9]:
add(b=30,a=20)

320

In [16]:
def add2(*,a=80,b=70):
    return a+b*2

In [17]:
add2(10,20)

TypeError: add2() takes 0 positional arguments but 2 were given

In [18]:
add2(a=9,b=7)

23

In [19]:
add2(b=6,a=10)

22

In [20]:
add2()

220

In [21]:

add2(a=9)

149

In [22]:
def fn1(*args):
    print(args)

In [23]:
fn1(1,2,3,'hello')

(1, 2, 3, 'hello')

In [25]:
def fn2(**args):
    print(args)

In [27]:
fn2(a=10,b=90,r=33,abc='hello')

{'a': 10, 'b': 90, 'r': 33, 'abc': 'hello'}

In [28]:
def fn3(*args , **kargs):
    print('args:',args)
    print('kargs:',kargs)

In [29]:
fn3(10,20,'hello',2.3,a=80,b=90,ddd='he')

args: (10, 20, 'hello', 2.3)
kargs: {'a': 80, 'b': 90, 'ddd': 'he'}

In [30]:

gl = 100

conn = None


def init_conn():
    global conn,gl
    conn = 78


def get_all_cust():
    global conn
    a = conn
    
    

def f1():
    global gl
    print("f1",gl)
    
    
def f2():
    global gl
    gl=200
    print("f2")
    
    
    
f1()
f2()
f1()

f1 100
f2
f1 200

In [31]:
d = 20

In [32]:
d+90

110

In [33]:
d="hello"

In [36]:
d+"20"

'hello20'

In [37]:
d

'hello'

In [38]:
def f1():    
    def f2():
        print("========")  
        
    f2()
    print("f1")
    f2()
    
    
def f3():
    def f2():
        print("********")
        
    f2()
    print("f3")
    f2()

In [39]:
f1()

========
f1
========

In [40]:
f3()

********
f3
********

In [41]:
    

def getalg(a):
    
    def alg1(x,y):
        return x*y
    
    def alg2(x,y):
        return x+y
    
    
    if a > 100:
        return alg1
    else:
        return alg2

In [42]:
f = getalg(20)

In [43]:
f(2,3)

5

In [44]:
f = getalg(120)

In [45]:
f(2,3)

6

In [46]:
f

In [47]:
def getalg(a):
    
    def alg1(x,y):
        return x*y + a
    
    def alg2(x,y):
        return x+y + a
    
    
    if a > 100:
        return alg1
    else:
        return alg2

In [48]:
f1 = getalg(200)

In [49]:
f1(5,6)

230

In [50]:
f2 = getalg(300)

In [51]:
f2(5,6)

330

In [52]:
f1

In [53]:
f2

In [54]:
def gn(pr):
    print("hello")
    pr()
    print("bye")
    
    

def op1():
    print("op1")
    

def op2():
    print("op2")

In [55]:
gn(op1)

hello
op1
bye

In [56]:
gn(op2)

hello
op2
bye

In [57]:
def getdigit(x):
    res = x % 10
    print("getdigit:",res)
    return res

In [58]:
ls = [74,61,18,29,36]

In [59]:
ls.sort()

In [60]:
ls

[18, 29, 36, 61, 74]

In [61]:
ls.sort(key=getdigit)

getdigit: 8
getdigit: 9
getdigit: 6
getdigit: 1
getdigit: 4

In [62]:
ls

[61, 74, 36, 18, 29]

In [63]:
ls = [[10,20],[18],[3,5,3,4],[2,4]]

In [64]:
ls.sort()

In [65]:
ls

[[2, 4], [3, 5, 3, 4], [10, 20], [18]]

In [66]:
ls.sort(key=len)

In [67]:
ls

[[18], [2, 4], [10, 20], [3, 5, 3, 4]]

In [69]:
ls = ["hello",[2,3],(3,4,5)]

In [70]:
ls.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [71]:
ls.sort(key=len)

In [72]:
ls

[[2, 3], (3, 4, 5), 'hello']

In [73]:
ls.reverse()

In [74]:
ls

['hello', (3, 4, 5), [2, 3]]

In [75]:
ls.sort(key=len,reverse=True)

In [76]:
ls

['hello', (3, 4, 5), [2, 3]]

In [77]:
ls = [1,2,3,4]

In [78]:
ls2 = []
for i in ls:
    ls2.append(i+100)

In [79]:
ls2

[101, 102, 103, 104]

In [80]:
def op(x):
    return x*1.17

In [84]:
ls = [124,345,891,245]

In [85]:
ls2 = list( map(op , ls) )

In [86]:
ls2

[145.07999999999998, 403.65, 1042.47, 286.65]

In [87]:
def op3(num):
    if num % 5 == 0:
        return True
    else:
        return False

In [88]:
def op4(num):
    return num % 5 == 0

In [92]:
op4(651)

False

In [94]:
ls4 = list( filter(op4 , ls) )

In [95]:
ls4

[345, 245]

In [96]:
f = lambda x,y,z:x+y*10+z*100

In [97]:
f(3,4,2)

243

In [98]:
ls

[124, 345, 891, 245]

In [101]:
ls.sort(key=lambda item:(item//10) % 10)

In [102]:
ls

[124, 345, 245, 891]

In [103]:
list( map (lambda a:a*10 , ls))

[1240, 3450, 2450, 8910]

In [106]:
# dont use
f = lambda a,b,c:a if a>b else b if b>c else c

In [107]:
f(4,8,2)

8

In [109]:
ls1 = [1,2,3,4]
ls2 = [100,200,300,400]

In [110]:
list(zip(ls1,ls2))

[(1, 100), (2, 200), (3, 300), (4, 400)]

In [111]:
s = "www,ddd,ff,rrr"

In [112]:
s.split(',')

['www', 'ddd', 'ff', 'rrr']